# Node artifact files
node_modules/
dist/

# Log files
*.log

node_modules
.env
coverage
coverage.json
typechain
typechain-types

# Hardhat files
cache
artifacts
deployments
gas-report.txt

# Settings
.vscode
.openzeppelin/

